* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
    overflow: hidden;
}
button{
    position: relative;
    margin: 20px;
    padding: 30px 50px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 28px;
    border-radius:8px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}
button::before,button::after{
    display: block;
    position: absolute;
    content:'';
    transition:all .5s;
    z-index:-1;
}
/* slide */
.slide{
    width: 180px;
    height: 95px;

}
.slide::after{
    height: 100%;
    top: 0;
    left: -10px;
    border-left: 2px solid #fff;

}
.slide::before{
    width: 100%;
    top: -10px;
    left: 0;
    border-top: 3px solid #fff;
    transition-delay: .1s;

}
.slide:hover::after{
    left:300px;

}
.slide:hover::before{
    top:100px;

}
.span1,.span2{
    position: absolute;
    top: 50%;
    transform:translate(-50%,-50%);
}
.span1{
    left: 50%;
    transition:.5s;
}
.span2{
    left: -50%;
    transition:.5s .1s;
}
.slide:hover .span1{
    left: 150%;

}
.slide:hover .span2{
    left: 50%;

}
/* slice */
.slice::before,.slice::after{
    background-color: rgb(24,147,230);
    width: 100%;height: 100%;
}
.slice::before{
    top:-50%;
    left: -100%;
}
.slice::after{
    bottom: -50%;
    right: -100%;
}
.slice:hover::before{
    left: 0;
}
.slice:hover::after{
    right: 0;
}
/* hmm */
.hmm{
    border:none;
    transition: .5s; ;
}
.hmm:hover{
    box-shadow: 2px 3px 0 0 rgba(255,255,255,.8), inset 11px 5px 10px rgba(0,0,0,.2);
}
.border{
    border-radius: 0;
    overflow: visible;
    transition: .8s;
}
.border::after,.border::before{
    width: 100%;
    height: 100%;
}
.border::before{
    top: 0;left: 0;
}
.border::after{
    bottom: 0;right: 0;

}
.border:hover{
    color:green;
    border: 1px solid transparent;
}
.border:hover:after{
    bottom: -10px;
    right: -10px;
    border-bottom:5px solid green;
    border-right:5px solid green
}
.border:hover:before{
    top: -10px;
    left: -10px;
    border-top:5px solid green;
    border-left:5px solid green
}
/* glass */
.glass::before{
    top: -30px;left: -130px;
    height: 160%;width: 100px;
    background-image:linear-gradient(-90deg,rgba(255,255,255,.3),rgba(255,255,255,.0));
    transform:rotate(20deg)
}
.glass:hover::before{
    left:130%;
}
